<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand" href="index.html">myBlog</a></h1>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
          </ul>
          <%= render 'partials/search' %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
          	<!-- Alets & Messages -->
          	<% if flash[:notice] %>
          		<div class="alert alert-success"><%= flash[:notice] %></div>
          	<% end %>
          	<% if flash[:alert] %>
          		<div class="alert alert-danger"><%= flash[:alert] %></div>
          	<% end %>
            <%= yield %>
          </div><!--col-md-8 -->
          <div class="col-md-4">
            <%= render 'partials/sidebar' %>
          </div>
        </div><!--row-->
      </div> <!--container -->
    </section>
    
    
      <%= render 'partials/footer' %>
    

</body>
</html>
